.myfooter{
    background-color: #172146;
    width: 100%;
}
.address_section{
    color:white;
    font-size: 14px;
    text-align: right;
    margin-right: 10px;
}
.address_section span{
    text-align: left;

}
.address_section a{
    color: white;
    font-size: 14px;
}
.footer_div{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:50px 0px;
}
.footer_div h3{
    color:hsla(0,0%,100%,.5);
    font-size: 16px;
}
.column1,.column2,.column3,.column4{
    width:25%;
    text-align: justify;
}
.footer_div a{
    color:white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:4px 0;
}
.column4 address{
    color:white;
    font-size: 14px;
    font-style: normal;
}
.address_para{
    font-size: 12px;
    margin:15px 0px;
}
.icons a{
    display: inline;
    padding-right: 15px;
}
/* .mail_icon{
    position: relative;
    bottom: -10px;
} */
.mail_icon svg{
    margin-right: 5px;
}
.column4 svg{
    position: relative;
    bottom: -2px;
    font-size: 20px;
}